.orange {
  background: $orange;
  width: 100px;
  height: 100px;
}

.gray {
  background: $gray;
  width: 100px;
  height: 100px;
}

.dark-grey {
  background: $dark-grey;
  width: 100px;
  height: 100px;
}